<!DOCTYPE html>
<html ng-app="iplanApp">
<head>
  <title>iPlan</title>
</head>
<body>
<div ng-controller="MainController as mainCtrl">
  <form name="eventForm" ng-submit="mainCtrl.postEvent(eventForm.$valid)" novalidate>
    <input type="text" ng-model="mainCtrl.eventName" required>
    <button type="submit" ng-disabled="eventForm.$invalid">Add new event!!!</button>
  </form>

  <button ng-click="mainCtrl.getEvent()"> DONT CLICK </button>
  <h2>{{mainCtrl.eventName}}</h2>
</div>
<event-view-dir></event-view-dir>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.js"></script>

<script src="./main.js"></script>
<script src="./services/httpService.js"></script>
<script src="./services/dataService.js"></script>
<script src="./eventView/eventView.js"></script>
</body>
</html>