.slideDown.ng-show {
  height:0;
  transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
}

.slideDown {
  height:141px;
  transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
}

.slideDown.ng-show-remove,
.slideDown.ng-show-add {
  display:block;
}


.slideDown.ng-show-add {
  animation-name: hide;
  -webkit-animation-name: hide;

  animation-duration: .5s;
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}



.slideDown.ng-show-remove {
  animation-name: show;
  -webkit-animation-name: show;

  animation-duration: .5s;
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
