body {
  font-family: avenir;
  font-size:10pt;
  background-color: #EEEEEE;
}

button:hover {
  background-color:#01d6bf
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/geometric_tile.jpg');
  background-attachment: fixed;
  opacity: 0.075;
  z-index: -10;
}

.body {
  height:100%;
  width:100%;
  position:absolute;
}

.mac-mock {
  height: 55%;
  width:55%;
  position:relative;
  z-index:1;
  top:375px;
}

.absolute-top {
  position:absolute;
  top:0;
  height:100%;
  width:100%;
}

.sign-up {
  float:right;
  color:#fff;
  top:0;
  border: 1px solid white;
  background-color:transparent;
  margin-top:1%;
  margin-right:1%;
  padding:5px 18px 5px 18px;
}

.sign-up:hover {
  border-color: #02dac3;
}

.section-one{
  background-image:url('./img/section1.png');
  background-size:cover;
  height:800px;
  width:100%;
  background-position: 60% 40%;
  top:0;
  position:absolute;
  text-align:center;
  z-index:0;
}

.section-two-one {
  padding-bottom:200px;
  position:relative;
  z-index:-1;
}

.rating-right{
  text-align:right;
  float:right;
}

.section-two{
  text-align:center;
  height:400px;
  width:100%;
  position:relative;
  background-color:#f7f8fc;
  background-position:90% 90%;
}

.section-two-container {
  margin-left:15%;
  margin-right:15%;
  padding-top:15%;
  padding-bottom:5%;
}

.section-two-main-text{
  padding-top:2%;
  font-size:20pt;
  font-weight:100;
}

.section-two-description{
  font-size:23pt;
  font-weight:100;
}

.section-three-container {
  background-image:url('./img/section3.png');
  background-size:cover;
  height:400px;
  width:100%;
  background-position: 20% 20%;
  position:relative;
  text-align:center;
  z-index:0;
}

.section-three-top {
  padding-top:5%;
}

.section-three-main-text {
  color:#fff;
  font-size:20pt;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.welcome-header {
  margin-top:15%;
  font-size:16pt;
  color:#fff;
  position:absolute;
}

.logo-header {
  font-size:50pt;
  font-weight:100;
  color:#fff;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.top-space {
  margin-top:10%;
}

.logo-green-i {
  color:#00cbb5;
  display:inline-block;
}

.description-header {
  font-size:17pt;
  color:#fff;
  margin-bottom:2%;
  font-weight:50;
  letter-spacing:0.5pt;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.login-button {
  background-color:#00cbb5;
  color:#fff;
  border:none;
  font-size:12pt;
  padding:12px 35px 12px 35px;
  position:relative;
  z-index:1;
  width:5%;
}

.login-button:hover{
  background-color:#02dac3;
}

.welcome {
  color:black;
  font-size:25px;
  padding-left:25px;
/*  position:relative;*/
}

.header {
  background-color: white;
  color:black;
  font-size:25px;
}

.nav-button {
  background-color:#00cbb5;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 1px;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  display:inline-block;
  position:relative;
  float:right;
  margin-bottom:1%;
  margin-right:1%;
  margin-top:1%;
  z-index:2;
}

.yelp-button {
  background-color:#00cbb5;
  color: white;
  margin-bottom:2%;
  padding: 4px 7px 4px 7px;
  border:none;
  float:right;
}

.leftbar {
  position:absolute;
  background-color: #3f4c79;
  height:800px;
  width:15%;
  left:0;
  z-index: 1;
}

.left-title {
  color:#fff;
  font-size:28pt;
  text-align:center;
  padding-top:25px;
  position:relative;
  margin-bottom:30px;
}

.green-i{
  color:#0eb7ab;
  display:inline-block;
}

.left-links a{
  color:#7482b5;
  text-align:center;
  width:100%;
  font-size:10.5pt;
  padding: 10px 5px 10px 5px;
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:none;
}

.event-links {
  text-align:center;
  width:100%;
  font-size:10.5pt;
  padding: 10px 5px 10px 5px;
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:none;
  display:block;
}

.event-links:focus {
  color:#fff;
  text-decoration:none;
  background-color:#36416a;
  border-left: solid #0eb7ab;
}

.event-links:hover {
  color:#c9cfe6;
}

.top-header {
  background-color: #fff;
  display: inline-block;
  height:7%;
  width:100%;
  z-index:-2;
  padding-right:1.8%;
  top:0;
}

.main-container{
  height:100%;
  width:100%;
  position:relative;
}

.left-padding {
  margin-left:15%;
  z-index:-1;
}

.bottom-container{
  padding-top:1%;
  padding-left:3%;
  padding-right:3%;
  height:100%;
  width:100%;
  display:inline-block;
  position:absolute;
  z-index:-2;
}

.refined-container{
  font-size:18pt;
}

.event-container{
  background-color:#fff;
  width:65%;
  height:600px;
  display:inline-block;
  margin-right:3.7%;
  position:relative;
  float:left;
}

.attendee-container {
  margin-top:330px;
  margin-bottom:50px;
  background-color:#fff;
  width:29.6%;
  height:270px;
  display:inline-block;
  position:absolute;
}

.absolute-container {
  position:absolute;
}

.header-message{
  font-size:15pt;
  display:inline-block;
  padding-top:1%;
  padding-left:3%;
}

.attend-title {
  font-size:18pt;
  color: #636ba1;
  text-align:center;
  padding: 2% 2% 2% 2%;
}

.attend-divider{
  border-bottom: 1px solid #d2d2d2;
  width:70%;
  text-align:center;
  display:block;
  margin-bottom:3%;
}

.invited-text {
  font-size:11pt;
  display:block;
  padding:2% 2% 2% 2%;
}

.container-padding{
  padding:5% 5% 5% 5%;
}

.input-add-place {
  background-color: #d8f5f0;
  height:2.5em;
  width:100%;
  border-radius:0px;
  border:none;
  z-index:1;
}

.input-add-place:hover {
  background-color:#d1efea;
}

.input-yelp-place {
  background-color: #eee;
  height:2.5em;
  width:100%;
  border-radius:0px;
  border:none;
  z-index:1;
}

::-webkit-input-placeholder {
  padding-left:10px;
  color:#829f9b;
}

:-ms-input-placeholder {
   color:#829f9b;
}

.container-space {
  padding-bottom:3%;
}

.place-details {
  margin-left:5px;
  color:#999;
}

.places-choices{
  background-color:#f5f6f5;
  height:2.5em;
  width:100%;
  border:none;
  position:relative;
  display:block;
  padding-top:8px;
  padding-left:8px;
  margin-bottom:2.5%;
  z-index:0;
}

.places-choices:hover{
  cursor: pointer;
}

.upvote-button{
  background-color:#00cab4;
  border:none;
  margin-top:-8px;
  height:2.5em;
  float:right;
  color:#fff;
  display:inline-block;
  width:8%;
}

.event-info {
  padding-bottom: 2%;
  display:inline;
}

.timer-date {
  width:49%;
  display:inline;
  border:1px solid;
  border-radius:10px;
  background-color:transparent;
  font-size:0.78em;
  margin-right:4%;
  padding-left:7px;
}

.width-date {
  width:100%;
}

.event-right {
  display:inline;
  text-align:right;
  float:right;
}

.event-details {
  margin-bottom:2%;
  position:relative;
}

.event-left {
  text-align:left;
}

.event-name {
  font-size:25pt;
}

.vote-timer {
  background-color:transparent;
  border: 1px solid;
  border-radius:10px;
  font-size:0.85em;
  padding-left:12px;
  padding-right:12px;
}

.vote-timer:hover  {
  background-color: #7482b5;
  color:white;
}

.event-location {
  color:#666;
  font-size:11pt;
}

.location-time-space {
  padding-right:0.5%;
}

.email-container {
  background-color:#fff;
  width:29.6%;
  height:290px;
  display:inline-block;
  position:absolute;
}

.email-header {
  margin-top:2%;
  text-align:center;
  font-size:20pt;
  color: #636ba1;
  margin-bottom:5%;
}

.email-to {
  width:100%;
  background-color:#eee;
  border:none;
  height:2.5em;
  display:block;
  margin-bottom:2.5%;
}

.email-to:hover {
  background-color:#e9e9e9;
}

.email-message {
  width:100%;
  background-color:#eee;
  border:none;
  display:block;
  margin-bottom:2.5%;
  height:80px;
}

.email-message:hover {
  background-color:#e9e9e9;
}

.email-button {
  margin-top:3%;
  width:100%;
  border:none;
  height:2.3em;
  display:block;
  background-color:#00cab4;
  color:#fff;
}

.event-table{
  width:70%;
  margin:0 auto;
  margin-top:3%;
}

.new-input {
  background-color:#fff;
  height:2.3em;
  border:none;
}

.add-event {
  text-align:center;
  margin:0 auto;
  background-color:#00cab4;
  color:#fff;
  border:none;
  padding: 7px 20px 7px 20px;
}

.yelp-float-left {
  float:left;
  text-align:left;
}

.yelp-float-right {
  float:right;
  text-align:right;
}

.yelp-results {
  display:inline-block;
  width:100%;
  margin:0;
  color:#000;
  background-color:#c5cbe2;
  position:relative;
  border:none;
  font-weight:100;
  z-index:2;
}

.yelp-results:hover {
  background-color:#999;
  color:#fff;
}

.yelp-div {
  width:90%;
  position:absolute;
  background-color:#eee;
  z-index:1;
  margin-top:-14px;
}

.snippet {
  font-size:0.85em;
  color: black;
  margin-top: 12px;
}

.place-container {
  display: inline-block;
}

.split-para { 
  display:block;margin:10px;
}

.map-padding {
  margin-right:5px;
}

.split-para span { 
  display:block;
  float:right;
  margin-left:10px;
}

.place-left {
  float: left;
  height:50%;
}

.place-right {
  color:#999;
}

.rating {
  padding-left: 25px;
  position: relative;
}

.yelp-redirect {
  background-color:#7482b5;
  color:#fff;
  border:none;
  padding: 3px 10px 3px 10px;
}
