body {
  font-family: avenir;
  font-size:10pt;
  background-color: #EEEEEE;
}

button:hover {
  background-color:#01d6bf
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/geometric_tile.jpg');
  background-attachment: fixed;
  opacity: 0.075;
  z-index: -10;
}

.body {
  height:100%;
  width:100%;
  position:absolute;
}

.mac-mock {
  height:55%;
  width:55%;
  position:relative;
  z-index:1;
  float:right;
  margin-right:4%;
}

.absolute-top {
  position:absolute;
  top:0;
  height:100%;
  width:100%;
}

.sign-up {
  float:right;
  color:#fff;
  top:0;
  margin-right:2%;
  border-radius:99px;
  border: 2px solid rgba(255,255,255,0.14);
  transition: border-color .2s;
  background-color:transparent;
  text-transform:uppercase;
  position:relative;
  padding:5px 18px 5px 18px;
}

.sign-up:hover {
  border:2px solid rgba(255,255,255,1);
  background-color:transparent;
}

.section-one{
  background: linear-gradient(to left top,#01a8b3,#01b995,#3b4774,#1f2e63);
  vertical-align:baseline;
  text-rendering:optimizeLegibility;
  background-size:cover;
  height:100%;
  width:100%;
  background-position: 60% 40%;
  top:0;
  position:absolute;
  text-align:center;
  z-index:0;
  margin-bottom:300px;
}

.section-two-one {
  display:block;
  padding-bottom:100px;
  position:relative;
  z-index:-1;
}

.rating-right{
  text-align:right;
  float:right;
}

.section-two{
  text-align:center;
  height:400px;
  width:100%;
  position:relative;
  background-color:#f7f8fc;
  background-position:90% 90%;
}

.section-two-container {
  margin-left:15%;
  margin-right:15%;
  padding-top:15%;
  padding-bottom:5%;
}

.section-two-main-text{
  padding-top:2%;
  font-size:20pt;
  font-weight:100;
}

.section-two-description{
  font-size:23pt;
  font-weight:100;
}

.section-three-container {
  background-image:url('./img/section3.png');
  background-size:cover;
  height:400px;
  width:100%;
  background-position: 20% 20%;
  position:relative;
  text-align:center;
  z-index:0;
}

.section-three-top {
  padding-top:5%;
}

.section-three-main-text {
  color:#fff;
  font-size:20pt;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.welcome-header {
  margin-top:15%;
  font-size:16pt;
  color:#fff;
  position:absolute;
}

.logo-header {
  font-size:35pt;
  font-weight:100;
  color:#fff;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  text-align:left;
  float:left;
  margin-left:2%;
  position:relative;
}

.top-space {
  margin-top:10%;
}

.logo-green-i {
  color:#00cbb5;
  display:inline-block;
}

.description-header {
  margin-top:15%;
  font-size:25pt;
  color:#fff;
  margin-bottom:2%;
  line-height:40pt;
  font-weight:50;
  letter-spacing:0.5pt;
}

.description-header span{
  color:#192858;
}

.login-link {
  color:rgba(255,255,255,0.80);
  display: block;
  text-transform:uppercase;
  float: right;
  margin-right: 29px;
  line-height: 30px;
  -webkit-transition: #fff .15s ease;
  transition: #fff .15s ease;
}

.login-link:hover{
  color:#fff;
  text-decoration:none;
  cursor: pointer;
}

a:visited{
  color:inherit;
}

.welcome {
  color:black;
  font-size:25px;
  padding-left:25px;
/*  position:relative;*/
}

.header {
  background-color: white;
  color:black;
  font-size:25px;
}

.nav-button {
  background-color:#00cbb5;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 1px;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  display:inline-block;
  position:relative;
  float:right;
  margin-bottom:1%;
  margin-right:1%;
  margin-top:1%;
  z-index:2;
}

.yelp-button {
  background-color:#00cbb5;
  color: white;
  margin-bottom:2%;
  padding: 4px 7px 4px 7px;
  border:none;
  float:right;
}

.leftbar {
  position:absolute;
  background-color: #3f4c79;
  height:120%;
  width:15%;
  left:0;
  z-index: 1;
}

.leftbar .leftbar-x {
  display:none;
  float:right;
  padding: 3px, 15px, 3px, 3px;
  text-align:right;
  padding-right:2%;
  color:#30395a;
}

.leftbar:hover .leftbar-x{
  display:inline-block;
}

.left-title {
  color:#fff;
  font-size:28pt;
  text-align:center;
  padding-top:25px;
  position:relative;
  margin-bottom:30px;
}

.left-title:hover {
  cursor: pointer;
}

.green-i{
  color:#0eb7ab;
  display:inline-block;
}

.left-links {
  color:#7482b5;
  text-align:center;
  width:100%;
  font-size:10.5pt;
  padding: 10px 5px 10px 5px;
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:none;
}

.event-links {
  text-align:center;
  width:100%;
  font-size:10.5pt;
  padding: 10px 5px 10px 5px;
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:none;
  display:block;
}

.event-links:hover {
  cursor: pointer;
}

.event-links:focus {
  color:#fff;
  text-decoration:none;
  background-color:#36416a;
  /*border-left: solid #0eb7ab;*/
}

.event-links:hover {
  color:#c9cfe6;
  background-color:#36416a;
}

.top-header {
  background-color: #fff;
  display: inline-block;
  height:7%;
  width:100%;
  z-index:-2;
  padding-right:1.8%;
  top:0;
}

.main-container{
  height:100%;
  width:100%;
  position:relative;
}

.left-padding {
  margin-left:15%;
  z-index:-1;
}

.bottom-container{
  padding-top:1%;
  padding-left:3%;
  padding-right:3%;
  height:100%;
  width:85%;
  display:inline-block;
  position:absolute;
  z-index:-2;
}

.refined-container{
  font-size:18pt;
}

.event-container{
  background-color:#fff;
  width:65%;
  height:600px;
  display:inline-block;
  margin-right:3.7%;
  position:relative;
  float:left;
}

.attendee-container {
  margin-top:330px;
  margin-bottom:50px;
  background-color:#fff;
  width:29.6%;
  height:270px;
  display:inline-block;
  position:absolute;
}

.absolute-container {
  position:absolute;
}

.header-message{
  font-size:15pt;
  display:inline-block;
  padding-top:1%;
  padding-left:3%;
}

.attend-title {
  font-size:18pt;
  color: #636ba1;
  text-align:center;
  padding: 2% 2% 2% 2%;
}

.attend-divider{
  border-bottom: 1px solid #d2d2d2;
  width:70%;
  text-align:center;
  display:block;
  margin-bottom:3%;
}

.invited-text {
  font-size:11pt;
  display:block;
  padding:2% 2% 2% 2%;
}

.container-padding{
  padding:5% 5% 5% 5%;
}

.input-add-place {
  background-color: #d8f5f0;
  height:2.5em;
  width:100%;
  border-radius:0px;
  border:none;
  z-index:1;
}

.input-add-place:hover {
  background-color:#d1efea;
}

.input-yelp-place {
  background-color: #eee;
  height:2.5em;
  width:100%;
  border-radius:0px;
  border:none;
  z-index:1;
}

::-webkit-input-placeholder {
  padding-left:10px;
  color:#829f9b;
}

:-ms-input-placeholder {
   color:#829f9b;
}

.container-space {
  padding-bottom:3%;
}

.place-details {
  margin-left:5px;
  color:#999;
}

.places-choices{
  background-color:#f5f6f5;
  height:2.5em;
  width:100%;
  border:none;
  position:relative;
  display:block;
  padding-top:8px;
  padding-left:8px;
  margin-bottom:2.5%;
  z-index:0;
}

.places-x {
  float:right;
  padding: 3px, 3px, 3px, 3px;
  text-align:right;
  margin-right:2%;
  color:#ccc;
}

.places-x:hover {
  color: rgba(255, 0, 0, 0.65);
}

.events-x {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
  padding: 3px, 3px, 3px, 3px;
}

.delete {
  border-style: none;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: transparent;
  font-size: 0.8em;
  padding: 2px 10px;
}

.delete:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.events-x {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
  padding: 3px, 3px, 3px, 3px;
}

.delete {
  border-style: none;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: transparent;
  font-size: 0.8em;
  padding: 2px 10px;
}

.delete:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.places-choices:hover{
  cursor: pointer;
}

.upvote-button{
  background-color:#00cab4;
  border:none;
  margin-top:-8px;
  height:2.5em;
  float:right;
  color:#fff;
  display:inline-block;
  width:8%;
}

.upvote-button:hover .thumbs-up-display{
  display:none;
}

.upvote-button:hover .thumbs-down-display{
  display:inline;
}

.upvote-button .thumbs-down-display{
  display:none;
}

.event-info {
  padding-bottom: 2%;
  display:inline;
}

.timer-date {
  width:49%;
  padding-top:2px;
  padding-bottom:3.5px;
  display:inline;
  border:1px solid;
  border-radius:10px;
  background-color:transparent;
  font-size:0.78em;
  margin-right:4%;
  padding-left:7px;
}

.timer-date-change {
  width:65%;
  padding-top:2px;
  padding-bottom:3.5px;
  display:inline;
  border:1px solid;
  border-radius:10px;
  background-color:transparent;
  font-size:0.78em;
  margin-right:4%;
  padding-left:7px;
}

.width-date {
  width:100%;
}

.event-right {
  display:inline;
  text-align:right;
  float:right;
}

.event-details {
  margin-bottom:2%;
  position:relative;
}

.event-left {
  text-align:left;
}

.event-name {
  font-size:25pt;
}

.vote-timer {
  background-color:transparent;
  border: 1px solid;
  border-radius:10px;
  font-size:0.85em;
  padding-left:12px;
  padding-right:12px;
}

.vote-timer:hover  {
  background-color: #7482b5;
  color:white;
}

.event-location {
  color:#666;
  font-size:11pt;
}

.location-time-space {
  padding-right:0.5%;
}

.email-container {
  background-color:#fff;
  width:29.6%;
  height:290px;
  display:inline-block;
  position:absolute;
}

.email-header {
  margin-top:2%;
  text-align:center;
  font-size:20pt;
  color: #636ba1;
  margin-bottom:5%;
}

.email-to {
  width:100%;
  background-color:#eee;
  border:none;
  height:2.5em;
  display:block;
  margin-bottom:2.5%;
}

.email-to:hover {
  background-color:#e9e9e9;
}

.email-message {
  width:100%;
  background-color:#eee;
  border:none;
  display:block;
  margin-bottom:2.5%;
  height:80px;
}

.email-message:hover {
  background-color:#e9e9e9;
}

.email-button {
  margin-top:3%;
  width:100%;
  border:none;
  height:2.3em;
  display:block;
  background-color:#00cab4;
  color:#fff;
}

.event-table{
  width:70%;
  margin:0 auto;
  margin-top:3%;
}

.new-input {
  background-color:#fff;
  height:2.3em;
  border:none;
}

.add-event {
  text-align:center;
  margin:0 auto;
  background-color:#00cab4;
  color:#fff;
  border:none;
  padding: 7px 20px 7px 20px;
}

.yelp-float-left {
  float:left;
  text-align:left;
}

.yelp-float-right {
  float:right;
  text-align:right;
}

.yelp-results {
  display:inline-block;
  width:100%;
  margin:0;
  color:#000;
  background-color:#c5cbe2;
  position:relative;
  border:none;
  font-weight:100;
  z-index:2;
}

.yelp-results:hover {
  background-color:#999;
  color:#fff;
}

.yelp-div {
  width:90%;
  position:absolute;
  background-color:#eee;
  z-index:1;
  margin-top:-14px;
}

.snippet {
  font-size:0.85em;
  color: black;
  margin-top: 12px;
}

.place-container {
  display: inline-block;
}

.split-para {
  display:block;margin:10px;
}

.map-padding {
  margin-right:5px;
}

.split-para span {
  display:block;
  float:right;
  margin-left:10px;
}

.place-left {
  float: left;
  height:50%;
}

.place-right {
  color:#999;
}

.rating {
  padding-left: 25px;
  position: relative;
}

.winner-details {
  font-size:10pt;
  text-align:center;
}

.winner-headline {
  text-align:center;
  font-size:20pt;
}

.yelp-redirect {
  background-color:#7482b5;
  color:#fff;
  border:none;
  padding: 3px 10px 3px 10px;
}

.place-winner {
  text-align:center;
  margin: 0 auto;
}

.place-winner-details {
  font-weight:bold;
  font-size:25pt;
  color:#00d0bc;
}

.place-winner-info {
  font-size:10pt;
}

.winner-map {
  margin-bottom:15px;
}

.place-winner-address {
  margin-top:12px;
  font-size:10pt;
}

.winner-snippet {
  padding-right:50px;
  padding-left:50px;
  font-style:italic;
}

.picture {
  margin: 0 auto;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
}

.header-nav {
  padding:23px 0 20px;
  top:0;
  width:100%;
  position:absolute;
}

.see-how {
  margin-top:2%;
  font-size:15pt;
  background-color:transparent;
  border:none;
  padding-right:20px;
  padding-left:20px;
  border-radius:99px;
  border: 3px solid rgba(255,255,255,0.14);
}

.see-how:hover {
  background-color:transparent;
  border: 3px solid rgba(255,255,255,1);
}

#how-it-works {
  width:100%;
  height:600;
  background-color:#fff;
  display:block;
  padding-top:33px;
}

.event-name .edit-pencil {
  display:none;
  font-size:0.5em;
}

.event-name:hover .edit-pencil {
  display:inline-block;
  font-size:0.5em;
}

.location .edit-pencil {
  display:none;
  font-size:0.8em;
}

.location:hover .edit-pencil {
  display:inline-block;
  font-size:0.8em;
}

.location-date .edit-pencil {
  display:none;
  font-size:0.8em;
}

.location-date:hover .edit-pencil {
  display:inline-block;
  font-size:0.8em;
}

.event-date .edit-pencil {
  display:none;
  font-size:0.8em;
}

.event-date:hover .edit-pencil {
  display:inline-block;
  font-size:0.8em;
}

.change-name-edit {
  width:25%;
  font-size:25pt;
  height:20%;
  border:none;
  background-color:transparent;
  border-bottom:1px solid #666;
}

.change-location-edit {
  width:15%;
  font-size:11pt;
  border:none;
  background-color:transparent;
  border-bottom:1px solid #666;
}

.change-date-edit {
  width:12%;
  font-size:11pt;
  border:none;
  background-color:transparent;
  border-bottom:1px solid #666;
}

.inline-form {
  display:inline;
}

.change-event-details {
  font-size:9pt;
  background-color:transparent;
  border:1px solid #666;
}

.change-event-details:hover {
  color:#fff;
  border:1px solid #fff;
}

.event-right .edit-pencil {
  display:none;
  font-size:0.8em;
}

.event-right:hover .edit-pencil {
  display:inline-block;
  font-size:0.8em;
}

.inline {
  display: inline;
}

.description {
  width: 75%;
  margin: 50px auto;
  text-align: left;
}

.intro {
  font-size: 1.2em;
}
.intro strong {
  font-weight: 600;
}