<div ng-if="evtCtrl.currentEvent.name">
  <!-- CURRENT EVENT INFO -->

  <div class="event-info">
    <div class="event-name">
      {{evtCtrl.currentEvent.name}}
    </div>
    <div class="event-location">
      <i class="fa fa-map-marker"></i>
        {{evtCtrl.currentEvent.location}}
      <span class="location-time-space"></span>
        <i class="fa fa-calendar"></i>
        {{evtCtrl.currentEvent.date | date:'mediumDate'}}
      <span class="location-time-space"></span>
        <i class="fa fa-clock-o"></i>
        {{evtCtrl.currentEvent.time}}
    </div>
  </div>

  <div class="event-container">
    <div class="container-padding">
      <!-- ADD PLACE FORM -->
      <form name="placeForm" ng-submit="evtCtrl.searchYelp(placeForm.$valid)" novalidate>
        <input type="text" class="input-add-place" ng-model="evtCtrl.placeName" placeholder="+ add a place"/>
      </form>
      <!-- END ADD PLACE FORM -->

      <!-- LIST OF CHOICES -->
      <div ng-if="evtCtrl.choices[0]">
        <div class="yelp-div">
           <div ng-repeat="choice in evtCtrl.choices">
            <button class="yelp-results" ng-click="evtCtrl.postPlace(choice)">
              <ul class="yelp-float-left">
                <B>{{choice.name}}</B><BR>
                {{choice.location.display_address[0]}}
                {{choice.location.display_address[1]}}
              </ul>
              <ul class="yelp-float-right">
                <span><img ng-src="{{choice.rating_img_url}}"></span>
              </ul>
             </button>
          </div>
        </div>
      </div>

      <!-- END LIST OF CHOICES -->

      <!-- LIST OF ADDED PLACES -->
      <div>
        <div id="{{place.id}}" ng-repeat="place in evtCtrl.currentEvent.places | orderBy: '-votes'">
          <div class="places-choices">
          <!-- ng-repeat on event's places -->
          <span  ng-click="evtCtrl.showPlace(place)">{{place.name}}</span>
          <span ng-show="evtCtrl.hidePlace" ng-if="evtCtrl.selectedAddress === place.address" class="place-details">
              {{evtCtrl.selectedAddress}}
              <img ng-src="{{evtCtrl.selectedRating}}">
          </span>
          <button class="upvote-button" ng-click="evtCtrl.upVote(place)">
            <i ng-class="{'fa fa-thumbs-o-down': evtCtrl.toggle[place.id], 'fa fa-thumbs-o-up': !evtCtrl.toggle[place.id]}"></i>
            {{place.votes}}
          </button>
            </div>
          </div>
      <!-- END LIST OF PLACES -->
      </div>
    </div>
    <!-- END container-padding -->
  </div>
  <!-- END event-container -->

<!-- right side of the page !-->
<div class="right-side">
  <div class="email-container">
    <div class="container-padding">
      <div class="email-header">Invite Friends</div>
      <form name="emailForm" ng-submit="evntCtrl.sendMail()" novalidate>
        <input ng-model="evtCtrl.to" class="email-to" placeholder="Email To" >
        <textarea ng-model="evtCtrl.message" class="email-message" placeholder="Message"></textarea>
        <button class="email-button" ng-click="evtCtrl.sendMail()">Send Email</button>
      </form>
    </div>
  </div>

  <div class="attendee-container">
    <div class="container-padding">
      <div class="attend-title">Invited</div>
      <center>
        <div class="attend-divider"></div>
        <ul>
        <li class="invited-text" ng-repeat="guest in evtCtrl.currentEvent.guests">{{guest.email}}</li>
        </ul>
 <!--          <div class="invited-text">Nate Lee</div>
          <div class="invited-text">Ksenia Smith</div>
          <div class="invited-text">Jackie Wung</div>
          <div class="invited-text">Jeff Harrison</div> -->
      </center>
    </div>
  </div>
</div>
</div>