<div ng-if="evtCtrl.currentEvent.name">
  <div>{{evtCtrl.currentEvent.name}} - {{evtCtrl.currentEvent.date | date:'mediumDate'}} - {{evtCtrl.currentEvent.location}}</div>
  <div>
    <form name="placeForm" ng-submit="evtCtrl.postPlace(placeForm.$valid)" novalidate>
      <input type="text" ng-model="evtCtrl.placeName" required>
      <button type="submit" ng-disabled="placeForm.$invalid">Add new place!</button>
    </form>
  </div>
    <ul> <!-- ng-repeat on event's places -->
      <li id="{{place.id}}" ng-repeat="place in evtCtrl.currentEvent.places | orderBy: '-votes'">{{place.name}}
        <button ng-click="evtCtrl.upVote(place)">
          <i ng-class="{'fa fa-thumbs-o-down': evtCtrl.toggle[place.id], 'fa fa-thumbs-o-up': !evtCtrl.toggle[place.id]}"></i>
          {{place.votes}}
        </button>
      </li>
    </ul>
</div>
