<div class="leftbar">
  <div class="left-title" ng-click="evtList.clearCurrentEvent()">
    <span class="green-i">i</span>Plan
  </div>
  <div>
    <center>
      <img class="picture" ng-src="{{evtList.currentUser.picture}}">
    </center>
  </div>
  <div>
    <ul>
      <li class="left-links event-links" ng-repeat="event in evtList.events | orderBy: '-event.created_at'">
        <span ng-click="evtList.setCurrentEvent(event.event.code)">
          {{event.event.name}}
        </span>
      </li>
    </ul>
  </div>
</div>


